<div class="row">
	<div class="col-lg-12" id="questions">
		<h1 class="headline"><%= @monkey.title %></h1>

		
				<div class="col-lg-6">
					<div class="responsive center-block"> <%= image_tag @monkey.image.url(:medium) %></div
					<h3><%= @monkey.title %></h3>
					<h3><%= @monkey.age %></h3>
					<h3><%= @monkey.gender %></h3>
					<h3><%= @monkey.story %></h3>
				</div>
	

<button class="btn btn-primary"><%= link_to 'Add a Monkey', new_monkey_path, id: "new_link" %></button>
	</div>
</div>


<button class="btn btn-primary"><%= link_to "Edit", edit_monkey_path(@monkey) %></button>

<button class="btn btn-primary"><%= link_to "Delete", monkey_path(@monkey), 
method: 
													:delete, data: {confirm: "Are you sure?"} %></button>