<div class="row">
	<div class="col-lg-12" id="questions">
		<h1 class="headline"><%= @monkey.title %></h1>

		
				<div class="col-lg-6">
					<img class="responsive center-block" src="http://placehold.it/500x400" alt="monkey-picture">\
					<h3><%= @monkey.title %></h3>
					<h3><%= @monkey.age %></h3>
					<h3><%= @monkey.gender %></h3>
					<h3><%= @monkey.story %></h3>
				</div>
			<% end %>

		<button class="btn btn-primary"><%= link_to 'Add a Monkey', new_monkey_path, id: "new_link" %></button>
	</div>
</div>