<!DOCTYPE html>
<html>
<head>
  <title>Code Monkey Adoption Services</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Code Monkeys</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">About <span class="sr-only"></span></a></li>
      </ul>
     <ul class="nav navbar-nav navbar-right">
        <% if !user_signed_in? %>
        <li><%= link_to "Sign Up", new_user_registration_path %></a></li>
        <li><%= link_to "Sign In",  new_user_session_path %></a></li>
         <% else %>
        <li class="session-info"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<div class="container">

<%= yield %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
</div>
</body>
</html>
